* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;
    margin: 0 auto;
    background-color: #B7AAA2;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    padding-left: 370px;
    padding-right: 370px;
}

.d-f {
    display: flex;

}

.jc-sb {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.header {
    padding-top: 38px;
    padding-bottom: 37px;
}

.nav-list {
    list-style-type: none;
    gap: 15px;
}

.nav-list-item a {
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    text-decoration: none;
    color: #EFE7E2;
}

.nav-list-item a:hover {
    border-bottom: 1px dotted blue;
}

.header-info {
    gap: 42px;
}

.header-location {
    width: 134px;
    background: url("./images/location.png") no-repeat right 10%;
    padding-right: 37px;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #EFE7E2;
}

.header-phone {
    width: 188px;
    background: url("./images/phone.png") no-repeat right;
    padding-right: 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 152%;
    color: #FFFFFF;
}

.header-phone span {
    font-size: 14px;
    line-height: 135%;
    color: #EFE7E2;
}

.barbershop-info-wrap {
    position: relative;
}

.barbershop-info {
    margin-top: 35px;
    padding-top: 40px;
    padding-bottom: 60px;
    background: url("./images/info-bg.png") no-repeat;
    height: 1000px;
}

.barbershop-info-caption {
    padding-left: 60px;
    padding-right: 148px;
    gap: 46px;
}

.barbershop-info-title {
    width: 779px;
    font-weight: 900;
    font-size: 70px;
    line-height: 110%;
    color: #FFFFFF;
}

.barbershop-info-rated {
    width: 221px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.barbershop-info-desc p {
    margin-top: 29px;
    width: 277px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #EFE7E2;
}

.book-btn {
    display: block;
    margin-top: 678px;
    margin-left: 60px;
    width: 194px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    background: #FF6E40;
    border: 1px solid #FF6E40;
    font-weight: 700;
    font-size: 20px;
    line-height: 152%;
    color: #FFFFFF;
    cursor: pointer;
}

.barbershop-info-describe {
    background-color: #251D1A;

    padding-bottom: 25px;

    position: absolute;
    top: 795px;
    left: 9px;
    z-index: -10;
}

.describe-box {
    margin-top: 350px;
    gap: 140px;
}

.describe-item {
    width: 300px;
    text-align: center;
}

.describe-item-title {
    margin-top: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    color: #EFE7E2;
}

.describe-item-subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #B7AAA2;
}

.barbershop-about {
    margin-top: 440px;
}

.barbershop-about-caption {
    width: 580px;
    margin: 70px auto;
    text-align: center;
}

.barbershop-about-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #FFFFFF;
}

.barbershop-about-subtitle {
    margin-top: 12px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #EFE7E2;
}

.about-box-item img {
    display: block;
}

.full-image {
    width: 580px;
    height: 337.1px;
}

.small-image {
    width: 280px;
    height: 280px;
}

.barbershop-about-actions {
    width: 690px;
    margin: 60px auto;
    text-align: center;
}

.barbershop-about-actions a {
    padding-left: 51px;
    padding-right: 51px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
}

.barbershop-about-actions a:nth-child(1) {
    margin-right: 30px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    background-color: #FF6E40;
    border: 1px solid #FF6E40;
    font-size: 20px;
    line-height: 152%;
}

.barbershop-about-actions a:nth-child(2) {
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    line-height: 150%;
}

.barbershop-testimonials {
    margin-top: 120px;
    padding-bottom: 34px;
}

.barbershop-testimonials-caption {
    width: 393px;
    margin: 0 auto;
}

.barbershop-testimonials-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}

.barbershop-testimonials-subtitle {
    margin-top: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #EFE7E2;
}

.barbershop-testimonials-box {
    margin-top: 60px;
    gap: 20px;
}

.testimonials-name {
    margin-top: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.barbershop-testimonials-item {
    transition: 0.4s;
}

.barbershop-testimonials-item:hover {
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.testimonials-desc {
    width: 277px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.testimonials-link {
    display: block;
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    text-decoration: none;
    color: #FF6E40;
}

.testimonials-link:hover {
    color: blue;
}

.barbershop-price {
    margin-top: 120px;
    padding-top: 118.62px;
    padding-bottom: 16px;
    background: #251D1A;
    height: 1715px;
}

.barbershop-price-caption {
    width: 580px;
    margin: 0 auto;
}

.barbershop-price-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}

.barbershop-price-subtitle {
    margin-top: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #EFE7E2;
}

.barbershop-price-box {
    margin-top: 62.38px;
    gap: 20px;
}

.price-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 133%;
    color: #EFE7E2;
}

.price-info {
    width: 280px;
    padding-left: 10px;
    border-right: 1px solid #FFFFFF;
}

.barbershop-price-item p {
    margin-top: 10px;
}

.category {
    font-weight: 400;
    font-size: 16px;
    line-height: 173%;
    color: #EFE7E2;
}

.time {
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: #B7AAA2;
}

.barbershop-price-item p:nth-child(1) .time {
    margin-left: 64px;
}

.barbershop-price-item p:nth-child(2) .time {
    margin-left: 64px;
}

.barbershop-price-item p:nth-child(3) .time {
    margin-left: 26px;
}

.barbershop-price-item p:nth-child(4) .time {
    margin-left: 96px;
}

.barbershop-price-item p:nth-child(5) .time {
    margin-left: 100px;
}

.barbershop-price-item p:nth-child(6) .time {
    margin-left: 136px;
}

.price {
    margin-left: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.barbershop-price-rights {
    width: 121px;
    margin: 137px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.barbershop-contacts {
    width: 480px;
    background: #251D1A;
    padding-top: 65px;
    padding-left: 57px;
    padding-right: 38px;
    padding-bottom: 43.5px;
    position: absolute;
    top: 40px;
    left: 20%;

}

.barbershop-contacts-title {
    margin-bottom: 45.5px;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #FFFFFF;
}

.barbershop-contacts-item {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 36.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    color: #FFFFFF;
}

.barbershop-contacts-item img {
    display: block;
}

.barbershop-contacts-item span {
    display: block;
}

.barbershop-map-wrapper {
    position: relative;
    top: 94px;
    left: -370px;
}

.footer{
    background-color: #000000;
    padding-top: 41px;
    padding-bottom: 40px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.footer-images {
    margin-top: 16px;
}
.footer a {
    color: #FFFFFF;
}

/* team.html */
.team-wrapper {
    background-color: #3B322D;
}
.team-info {
    background: url("./images/team-info.png") no-repeat;
    padding-top: 40px;
    padding-bottom: 63px;
    padding-left: 50px;
}
.team-info-title {
    font-family: 'Playfair Display', sans-serif;
    width: 699px;
    font-weight: 900;
    font-size: 70px;
    line-height: 110%;
    color: #FFFFFF;
 }
 .team-info-subtitle {
    width: 228px;
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #EFE7E2;

 }